#login-modal.lightbox
    form(method="post")#login-form.form 
        .form__field
            label(for="login-email").form__label User
            input(type="text" name="user")#login-user.form__input
        .form__field    
            label(for="login-password").form__label Password
            input(type="password" name="password")#login-password.form__input
        .form__field
            input(type="submit" name="submit" value="Iniciar sesion").form__submit